@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

.css-1dt04rm {
  background: rgba(254, 249, 244, 1) !important;
}

/* Global Scrollbar Styling for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track (background) */
}

::-webkit-scrollbar-thumb {
  background-color: #dd9224; /* Scrollbar thumb (handle) color */
  border-radius: 10px; /* Round the thumb */
  border: 3px solid #f1f1f1; /* Adds a border around the thumb */
}

/* Global Scrollbar Styling for Firefox */
* {
  scrollbar-width: thin; /* Set scrollbar width */
  scrollbar-color: #dd9224 #f1f1f1; /* Thumb color, Track color */
}
